<h1>Agregar equipo al match</h1>
<div id="participation-form">
  <%= form_for :participation, url: participations_path do |f| %>
    <div class = "field">
      <%= f.label :Team %>
      <%= f.select :team_id, Team.all.collect {|team| [team.name, team.id]}, {include_blank: true}, {required: true} %>
    </div>
    <div class = "field">
      <%= f.label :Match %>
      <%= f.select :match_id, Match.all.collect {|match| [match.id]}, {include_blank: true}, {required: true} %>
    </div>
    <div class = "actions">
      <%= f.submit 'Crear' %>
    </div>
  <% end %>
</div>
