<div class="page-content">
  <h1>Entra con tus credenciales</h1>

  <div class="form-box box">
    <div id="login-form">
      <%= form_for :session, url: session_path do |f| %>
      <div class = "field">
        <%= f.label :email %>
        <br>
        <%= f.text_field :email %>
      </div>
      <div class = "field">
        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>
      </div>
      <div class = "actions">
        <%= f.submit 'Login' %>
      </div>
      <% end %>
    </div>

  </div>
</div>
