<%= form_for(bet) do |f| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ammount %>
    <%= f.number_field :ammount, required: true %>
  </div>

  <div class="field">
    <%= f.label :bet_state %>
    <%= f.number_field :bet_state, required: true %>
  </div>

  <div class="field">
    <%= f.label :match_id %>
    <%= f.select :match_id, Match.all.collect {|match| [match.id]}, {include_blank: true}, {required: true} %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.select :user_id, User.all.collect {|user| [user.id]}, {include_blank: true}, {required: true} %>
  </div>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.select :team_id, Team.all.collect {|team| [team.id]}, {include_blank: true}, {required: true} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
