<% bet = Bet.new %>
<%= form_for(bet) do |f| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.select :team_id, Team.joins(:participations).where(['participations.match_id = ?', @match.id]).collect {|team| [team.name, team.id]}, {include_blank: true}, {required: true} %>
  </div>

  <div class="field">
    <%= f.label :ammount %>
    <%= f.number_field :ammount, required: true %>
  </div>

  <%= f.hidden_field :match_id, :value => @match.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
