<p id="notice"><%= notice %></p>

<p>
  <strong>Ammount:</strong>
  <%= @bet.ammount %>
</p>

<p>
  <strong>Bet state:</strong>
  <%= @bet.bet_state %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
