<p id="notice"><%= notice %></p>

<p>
  <strong>Ammount:</strong>
  <%= @bet.ammount %>
</p>

<p>
  <strong>Bet state:</strong>
  <%= @bet.bet_state %>
</p>

<%= link_to 'Edit', edit_user_bet_path(@bet.user_id, @bet.id) %> |
<%= link_to 'Back', user_bets_path(@bet.user_id) %>
