<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Coins:</strong>
  <%= @user.coins %>
</p>

<% if current_user && @user.id == current_user.id %>
<%= link_to 'Edit', edit_user_path(@user)%> |
<% end %>
<%= link_to 'Back', users_path %>

<% if current_user && @user.id == current_user.id %>

  <div class="tab">
    <button class="tablinks defaultOpen" data-tab="actual-bets">Bets</button>
    <button class="tablinks" data-tab="old-bets">History</button>
    <button class="tablinks" data-tab="followed-users">Users</button>
    <button class="tablinks" data-tab="follow-request">Follow Requests</button>
  </div>

  <div class="user-bets">
    <div class="actual-bets tabcontent">
      <o1>
        <% Bet.where(user_id: @user.id, bet_state: 0).each do |bet| %>
          <%= render 'bets/preview', bet: bet %>
        <% end %>
      </o1>
    </div>

    <div class="old-bets tabcontent">
      <o1>
        <% Bet.where("user_id = ? AND bet_state > '0'", current_user.id).each do |bet| %>
          <%= render 'bets/preview', bet: bet %>
        <% end %>
      </o1>
    </div>

    <div class="followed-users tabcontent">
      <o1>
        <% Follow.where(follower_id: current_user.id).each do |foll| %>
          <%= render 'preview', foll: foll %>
        <% end %>
      </o1>
    </div>

    <div class="follow-request tabcontent">
      <o1>
        <% Follow.where(followed_id: current_user.id).each do |foll| %>
          <% other_user = foll.follower %>
          <% back = Follow.where(followed_id: other_user.id, follower_id: current_user.id).first %>
          <% if !back %>
            <%= render 'request', other_user: other_user %>
          <% end %>
        <% end %>
      </o1>
    </div>

  </div>

<% end %>
