<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Coins:</strong>
  <%= @user.coins %>
</p>

<% if current_user && @user.id == current_user.id %>
<%= link_to 'Edit', edit_user_path(@user)%> |
<% end %>
<%= link_to 'Back', users_path %>

<% if current_user && @user.id == current_user.id %>



<h1>Current Bets</h1>

<table>
  <style>

  </style>
  <thead>
    <tr>
      <th>Event</th>
      <th>Match</th>
      <th>Team</th>
      <th>Ammount</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% Bet.where(user_id: @user.id, bet_state: 0).each do |bet| %>
    <% t = Team.where(id: bet.team_id).first %>
    <% m = Match.where(id: bet.match_id).first %>
    <% e = Event.where(id: m.event_id).first %>
    <tr>
      <td><%= e.id %></td>
      <td><%= if m.name; m.name
      else m.id
      end %></td>
      <td><%= t.name %></td>
      <td><%= bet.ammount %>
        Coins
      </td>
      <td><% if m.bet_date > Date.today %>
      <%= link_to 'Edit', edit_bet_path(bet)%>
      <%= link_to 'Delete', bet, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Historial</h1>

<table>
  <style>

  </style>
  <thead>
    <tr>
      <th>Event</th>
      <th>Match</th>
      <th>Team</th>
      <th>Ammount</th>
      <th>Placing</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% Bet.where("user_id = ? AND bet_state > '0'", current_user.id).each do |bet| %>
    <% t = Team.where(id: bet.team_id).first %>
    <% m = Match.where(id: bet.match_id).first %>
    <% e = Event.where(id: m.event_id).first %>
    <% par = Participation.where(team_id: t.id, match_id: m.id).first %>
    <tr>
      <td><%= e.id %></td>
      <td><%= if m.name; m.name
      else m.id
      end %></td>
      <td><%= t.name %></td>
      <td><%= bet.ammount %>
        Coins
      </td>
      <td><%= par.placing %></td>
      <td><% if m.bet_date > Date.today %>
      <%= link_to 'Edit', edit_bet_path(bet)%>
      <%= link_to 'Delete', bet, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Bet', new_bet_path%>
<br>



<table>
  <style>

  </style>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% Follow.where(follower_id: current_user.id).each do |foll| %>
    <% u = User.where(id: foll.following_id) %>
    <% back = Follow.where(following_id: current_user.id, follower_id: u.id) %>
    <% status = back ? 'Friends' : 'Following' %>
    <tr>
      <td><%= u.name %></td>
      <td><%= u.mail %></td>
      <td><%= status %></td>
      <%= following_button(u)%>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>





<% end %>
