<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Coins:</strong>
  <%= @user.coins %>
</p>

<div class="Options">
  <% if current_user && @user.id == current_user.id %>
    <%= link_to 'Edit', edit_user_path(@user), class: "link-button"%>
  <% end %>
  <%= link_to 'Back', users_path, class: "link-button" %>
</div>


<% if current_user && @user.id == current_user.id %>
  <div class="tab">
    <button class="tablinks defaultOpen" data-tab="actual-bets">Bets</button>
    <button class="tablinks" data-tab="old-bets">History</button>
    <button class="tablinks" data-tab="followed-users">Users</button>
    <button class="tablinks" data-tab="follow-request">Follow Requests</button>
  </div>

  <div class="user-bets-and-friendship">
    <table class="actual-bets tabcontent">
      <tr class="actual-bets tab-headers">
        <th>Event</th>
        <th>Match</th>
        <th>Team</th>
        <th>Ammout</th>
        <th>Action</th>
      </tr>
      <% Bet.where(user_id: @user.id, bet_state: 0).each do |bet| %>
        <%= render 'bets/preview', bet: bet %>
      <% end %>
    </table>

    <table class="old-bets tabcontent">
      <tr class="old-bets tab-headers">
        <th>Event</th>
        <th>Match</th>
        <th>Team</th>
        <th>Ammout</th>
        <th>Action</th>
      </tr>
      <% Bet.where("user_id = ? AND bet_state > '0'", current_user.id).each do |bet| %>
        <%= render 'bets/preview', bet: bet %>
      <% end %>
    </table>

    <table class="followed-users tabcontent">
      <tr class="followed-users tab-headers">
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
      <% Follow.where(follower_id: current_user.id).each do |foll| %>
        <%= render 'preview', foll: foll %>
      <% end %>
    </table>

    <table class="follow-request tabcontent">
      <tr class="follow-request tab-headers">
        <th>Name</th>
        <th>Email</th>
        <th>Profile</th>
        <th>Action</th>
      </tr>
      <% Follow.where(followed_id: current_user.id).each do |foll| %>
        <% other_user = foll.follower %>
        <% back = Follow.where(followed_id: other_user.id, follower_id: current_user.id).first %>
        <% if !back %>
          <%= render 'request', other_user: other_user %>
        <% end %>
      <% end %>
    </table>

  </div>

<% end %>
