<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="event-table">
  <tr class="event-table-header">
    <th>Type</th>
    <th>Event manager</th>
    <th>Privacity</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Actions</th>
  </tr>

  <% @events.each do |event| %>
    <tr class="event-table-row">

      <td class="event-type event-content">
        <%= event.event_type %>
      </td>

      <td class="event-type event-content">
        <%= User.find(event.user_id).email %>
      </td>

      <td class="event-privacity event-content">
        <%= event.private %>
      </td>

      <td class="event-date-start event-content">
        <%= event.date_start %>
      </td>

      <td class="event-date-end event-content">
        <%= event.date_end %>
      </td>

      <td class="event-actions event-content">
        <table class="event-action-subtable">
          <tr class="show subsection">
            <td>
              <%= link_to 'Show', event, class: "link-button"%>
            </td>
          </tr>
          <% if current_user && current_user.id == event.user_id%>
            <tr class="edit subsection">
              <td>
                <%= link_to 'Edit', edit_event_path(event), class: "link-button"%>
              </td>
            </tr>
            <tr class="destroy subsection">
              <td>
                <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-button"%>
              </td>
            </tr>
          <% end %>
        </table>
      </td>

    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
