
<div class="page-content">

  <div class="event-box box">

    <h2>Events</h2>

    <div class="events">

      <%= form_tag events_path, :method => 'get', :id => "events_search" do %>
        <p>
          Search:
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil, :style => "display: none;" %>
        </p>
        <div class="events-list"><%= render 'event' %></div>
      <% end %>

    </div>

    <div class="Options">
      <%= link_to 'New Event', new_event_path, class: "link-button" %>
    </div>

  </div>


</div>
