<h2>Information</h2>


<p id="notice"><%= notice %></p>

<p>
  <%= @event.event_type %> event
</p>

<p>
  <strong>Gestor:</strong>
  <%= User.where(id: @event.user_id).first.email %>
</p>

<p>
  <%= if @event.private; 'Private'
      else; 'Public'
      end %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @event.date_start %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @event.date_end %>
</p>

<h2>Matches</h2>

<table>
  <style>

  </style>
  <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th>Start</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% Match.where(event_id: @event.id).each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= match.bet_date %></td>
        <td><%= match.match_date %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <th>Team Names</th>
        <th>Placings</th>
        <th>Participations ID</th>
        <% Participation.where(match_id: match.id).each do |participation| %>
          <% t = Team.where(id: participation.team_id).first %>
          <tr>
            <td><%= t.name %></td>
            <td><%= if participation.placing == -1; ''
            else participation.placing
            end %></td>
            <td><%= participation.id %></td>
          </tr>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.id == @event.user_id %>
  <br/>
  <strong>New Match:</strong>
  <%= render :partial => 'matches/form', event: @event %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) if current_user && current_user.role != 1 %> |
<%= link_to 'Back', events_path %>
