
<h2>Information</h2>


<p id="notice"><%= notice %></p>

<p>
  <%= @event.event_type %> event
</p>

<p>
  <strong>Gestor:</strong>
  <%= User.where(id: @event.user_id).first.email %>
  <% if need_request?(@event) %>
  |
  <%= following_button(User.find(@event.user_id)) %>
  <% end %>
</p>

<p>
  <%= if @event.private; 'Private'
      else; 'Public'
      end %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @event.date_start %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @event.date_end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) if current_user && current_user.id == @event.user_id %>

<h2>Matches</h2>

<div class="event-matches-section">

  <ul class="matches-list">

    <% Match.where(event_id: @event.id).each do |match| %>
      <%= render 'matches/preview', match: match %>
    <% end %>

  </ul>
</div>


<% if current_user && current_user.id == @event.user_id%>
  <br/>
  <strong>New Match:</strong>
  <%= render :partial => 'matches/form', event: @event %>
<% end %>

<% if @event.private && current_user && @event.user_id == current_user.id %>
  <h2>Invitations</h2>

  <table class="invitations-table">
    <tr class="invitation-headers">
      <th>Name</th>
      <th>Mail</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% Follow.where(follower_id: current_user.id).each do |foll| %>
      <% other_user = foll.followed %>
      <% back = Follow.where(follower_id: other_user.id, followed_id: current_user.id).first %>
      <% status = back ? 'Friends' : 'Following' %>
      <tr class="invitation-body">
        <td class="invitation-name invitation-data">
          <%= other_user.first_name %>
          <%= other_user.last_name %>
        </td>
        <td class="invitation-email invitation-data">
          <%= other_user.email %>
        </td>
        <td class="invitation-status invitation-data">
          <%= status %>
        </td>
        <td class="invitation-button invitation-data">
          <%= invite_button(other_user, @event) %>
        </td>
      </tr>
    <% end %>
  </table>

<% end %>

<% if current_user %>
  <br/>
  <%= button_to 'Download results', {:controller => 'eventresults', :action => "create", :event_id => @event.id}, :method => :post %>

<% end %>

<%= link_to 'Back', events_path %>
