
<div class="matches-item-information">

  <h3>Match Info</h3>

  <div class="match-information">

    <div class="match-name info-data">
      <strong>Name:</strong> <%= match.name %>
    </div>
    <br>
    <br>
    <div class="bet-date info-data">
      <strong>Bet date: </strong> <%= match.bet_date %>
    </div>
    <br>
    <br>
    <div class="match-date info-data">
      <strong>Match date:</strong> <%= match.match_date %>
    </div>
    <br>
  </div>

  <h3>Teams</h3>

  <div class="match-teams-table">

    <div class="teams-headers">
      <div>Team Names</div>
      <div>Placings</div>
    </div>

    <% Participation.where(match_id: match.id).each do |participation| %>
      <% t = Team.where(id: participation.team_id).first %>
      <div class="team-content">
        <div class="team-name attribute">
          <%= t.name %>
        </div>
        <div class="team-result attribute">
          <% if participation.placing == -1 %>
            No reults yet
          <% else %>
            <%= participation.placing %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="Options">
    <%= link_to 'Show', match, class: "link-button" %>
    <% if (current_user && current_user.id == @event.user_id && match.state == 0) %>
      <%= link_to 'Edit', edit_match_path(match), class: "link-button"  %>
      <%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-button" %>
    <% end %>

  </div>

</div>

<br>
