<p id="notice"><%= notice %></p>

<p>
  <strong>Match date:</strong>
  <%= @match.match_date %>
</p>

<p>
  <strong>Bet date:</strong>
  <%= @match.bet_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @match.name %>
</p>

<p>
  <strong>State:</strong>
  <%= if @match.state == 0; 'Bets open'
  elsif @match.state == 1; 'Bets Closed'
  else ; 'Closed Match'
  end %>
</p>

<% if current_user && current_user.id == Event.find(@match.event_id).user_id %>
  <%= render :partial => 'participations/form', match: @match %>
  <%= link_to 'Edit', edit_match_path %> |
<% end %>

<h1>Teams</h1>

<table>
  <style>

  </style>
  <thead>
    <tr>
      <th>Name</th>
      <th>Result</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% Participation.where(match_id: @match.id).each do |participation| %>
      <% t = Team.where(id: participation.team_id).first %>
      <tr>
        <td><%= t.name %></td>
        <td><%= if participation.placing == -1; ''
        else participation.placing
        end %></td>
        <% if current_user && current_user.id == Event.find(@match.event_id).user_id %>
          <td><%= link_to 'Remove', participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.id == Event.find(@match.event_id).user_id %>
  <%= render :partial => 'participations/form', match: @match %>
<% end %>

<%= link_to 'Event', event_path(@match.event_id) %>
